/* ************* MAIN SET UP ************* */
:root {
    --pink: #FF6B89;
    --light-pink: #FCE7EB;
    --cream: #FFFAE9;
    --light-blue: #F3F9FF;
    --blue: #B0C4DE;
    --burgundy: #5B2E35;
}

@font-face {
    font-family: everythingFont;
    src: url('../fonts/Cantarell-Regular.ttf');
}

body {
    font-family: everythingFont;
}

.page {
    margin: 0 0 0;
}

/**
*
* Block Editor Styles
*
*/

/* blue-outline-button block style */
.is-style-blue-outline-button.wp-block-button{
    border: 1px solid var(--blue);
    border-radius: 10px;
    background-color: #00000000;
}
.is-style-blue-outline-button.wp-block-button .wp-block-button__link {
    background-color: #00000000;
    border: none;
    border-radius: 10px;
}
.is-style-blue-outline-button.wp-block-button .wp-block-button__link:hover {
    background-color: rgba(133, 164, 206, 0.671);
}

/* columns */
.is-style-blue-card.wp-block-columns{
    background-color: #00000000;
}
.is-style-blue-card.wp-block-columns .wp-block-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-blue);
    box-shadow:  10px 10px 20px #e6e6e6,
                -20px -20px 60px #ffffff;
    border-radius: 10px;
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
    background-image: url(../img/feather-line-blue-right.svg);
    background-size: 80px 80px;
    background-repeat: no-repeat;
    background-position: bottom 5px right 15px;
}
.is-style-blue-card.wp-block-columns .wp-block-column div:last-of-type{
    margin-top:auto;
}


/* media-text */
/* add blue background to media-text */
.is-style-blue-group.wp-block-media-text {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 2rem 3rem;
    margin: 1rem;
}
/* add blue outline to media-text */
.is-style-outline-group.wp-block-media-text {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 2rem 3rem;
    margin: 1rem;
}
/* tablet amd under */
@media screen and (max-width: 63.9375em) {
    .is-style-tablet-stack.wp-block-media-text {
        grid-template-columns: 100% !important;
        grid-template-rows: auto;
    }
    .is-style-tablet-stack.wp-block-media-text .wp-block-media-text__content{
        grid-column: 1;
        grid-row: 2;
        padding-top: 1rem;
    }
    .is-style-tablet-stack.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content{
        grid-column: 1;
        grid-row: 1;
    } 
    .is-style-tablet-stack.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media{
        grid-column: 1;
        grid-row: 2;
        padding-top: 1rem;
    }
}
.wp-block-media-text__context {
    padding: 2rem 1rem;
}

/* group */
/* add background colour */
.is-style-blue-bg-group.wp-block-group {
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    margin: 1rem;
}
/* add outline */
.is-style-blue-outline-group.wp-block-group {
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 2rem 1.5rem;
    margin: 1rem;
}
@media screen and (max-width: 63.9375em) {
    /* add background colour */
    .is-style-blue-bg-group.wp-block-group {
        background-color: var(--light-blue);
        border-radius: 10px;
        padding: 1rem 1.5rem;
        margin: 0.5rem 0rem;
        /* min-width: 80vw; */
    }
    /* add outline */
    .is-style-blue-outline-group.wp-block-group {
        border: 1px solid var(--blue);
        border-radius: 10px;
        padding: 1rem 1.5rem;
        margin: 0.5rem 0rem;
        /* min-width: 80vw; */
    }
    .wp-block-media-text .wp-block-media-text__content{
        padding: 0 4%;
    }
}
@media screen and (max-width: 39.9375em) {
    /* add background colour */
    .is-style-blue-bg-group.wp-block-group {
        background-color: var(--light-blue);
        border-radius: 10px;
        padding: 0.8rem 0.8rem;
        margin: 1rem 0rem;
    }
    /* add outline */
    .is-style-blue-outline-group.wp-block-group {
        border: 1px solid var(--blue);
        border-radius: 10px;
        padding: 0.8rem 0.8rem;
        margin: 1rem 0rem;
    }
    .wp-block-media-text .wp-block-media-text__content{
        padding: 0 0;
    }
}




/* ************* HEADER ************* */
/* ? Preheader */
#preheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    grid-template-areas: "donate helpText clearExit";
    width: 100vw;
    background-color: var(--cream);
    position: fixed;
    max-height: fit-content;
}
#preheader h6{
    font-size: 14px;
    margin: 0.5rem 0;
}
.donateBtn-header {
    grid-area: donate;
}
.helpText-header {
    grid-area: helpText;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.75rem;
}
#preheader button.clearTracks-header{
    box-sizing: border-box;
    border: 3px solid var(--pink);
    background-color: #00000000;
}
.clearTracks-header:hover{
    text-decoration: underline;
}
.escapeBtns {
    grid-area: clearExit;
    justify-self: flex-end;
    display: flex;
    height: 100%;
}
#preheader button {
    padding: 5px 10px;
    width: fit-content;
    min-width: 100px;
    height: 100%;
    background-color: var(--pink);
    outline: none;
    border: none;
    border-radius: 0;
}
.decoBtn{
    text-decoration: none;
    color: white;
}
.decoBtn:hover{
    color: pink;
}
header {
    margin-bottom: 2rem;
}
/* header nav */
/* .site-branding {
    text-align: center;
} */
.title-bar-title{
    padding: 1rem;
    margin: 0 auto;
}
img.custom-logo{
    /* max-width: 350px; */
    min-width: 250px;
    width: 20vw;
}

/* ! ********** SMALL screen only ************* */
@media screen and (max-width: 39.9375em) {
    #preheader {
        display: grid;
        grid-template-rows: 0.75fr 0.5fr;
        grid-template-columns: auto auto auto;
        grid-template-areas: "donate clearExit clearExit"
        "helpText helpText helpText";
    }
    img.custom-logo{
        min-width: 150px;
    }
}



/* ******************** Colour Settings ******************** */
.has-pink-color {
    color: var(--pink);
}

.has-pink-background-color {
    background-color: var(--pink);
}
.has-lightpink-color {
    color: var(--light-pink);
}

.has-lightpink-background-color {
    background-color: var(--light-pink);
}

.has-cream-color {
    color: var(--cream);
}

.has-cream-background-color {
    background-color: var(--cream);
}

.has-lightblue-color {
    color: var(--light-blue);
}

.has-lightblue-background-color {
    background-color: var(--light-blue);
}
.has-blue-color {
    color: var(--blue);
}
.has-burgundy-color {
    color: var(--burgundy);
}

.has-blue-background-color {
    background-color: var(--blue);
}
.has-burgundy-background-color {
    background-color: var(--burgundy);
}

.has-white-color {
    color: #ffffff;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-black-color {
    color: #000000;
}

.has-black-background-color {
    background-color: #000000;
}

/* *Blog index page */
.blogHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blogHolder .card {
    min-width: 300px;
    width: 50vw;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    background-color: var(--light-blue);
    border-radius: 10px;
    padding: 10px;
    border: none;
}

.blogHolder .card .thumbnail-img {
    align-items: stretch;
    background-image: url(../img/newsletterIcon2.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    min-height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

/* .blogHolder .card:nth-child(n+2) .card-image {
    display: none;
} */

.blogHolder .card:nth-child(n+2) .card-section-wrapper {
    width: 100%;
}

.blogHolder .card .thumbnail-img img {
    border-radius: 10px;
    height: auto;
}

.blogHolder .card .card-section {
    width: 100%;
    height: 100%;
}

.blogHolder .card-section .blogBtnHolder {
    text-align: end;
    margin-top: auto;
}

/* Blog single */

.nav-links a {
    background-color: var(--light-pink);
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
}

.post-edit-link {
    text-align: right;
}

@media screen and (max-width: 39.9375em) {
    .nav-title {
        display: none;
    }
}

.title-bar {
    background: #00000000;
}


@media screen and (max-width: 39.9375em) {
    .mec-calendar.mec-event-container-simple dl dt.mec-calendar-day {
        font-size: 14px;
    }
    .no-mobile {
        display: none;
    }
    .center-mobile {
        text-align: center;
    }
}

#topButton {
    width: 80px;
    height: 40px;
    background-color: var(--light-pink);
    position: fixed;
    bottom: 5vh;
    right: 0px;
    scroll-behavior: smooth;
    z-index: 111111;
    transition: background-color 0.3s ease;
}

#topButton:hover {
    background-color: var(--pink);
}