/* ************* MAIN SET UP ************* */
:root {
    --coral: #FFADAD;
    --pale-yellow: #FFFAE9;

    --pink: #FF6B89;
    --light-pink: #FCE7EB;
    --cream: #FFFAE9;
    --light-blue: #F3F9FF;
    --blue: #B0C4DE;
}

@font-face {
    font-family: everythingFont;
    src: url('../fonts/Cantarell-Regular.ttf');
}

body {
    font-family: everythingFont;
}

/* ************* HEADER ************* */
/* ? Preheader */
#preheader {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    grid-template-areas: "donate helpText clearExit";
    width: 100vw;
    height: fit-content;
    height: -webkit-ft-content; /* for safari and Chrome */
    height: -moz-fit-content; /* for Firefox */
    background-color: var(--pale-yellow);
}
.donateBtn-header {
    grid-area: donate;
}
.helpText-header {
    grid-area: helpText;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
    font-size: 0.75rem;
}
#preheader button.clearTracks-header{
    box-sizing: border-box;
    border: 3px solid var(--coral);
    background-color: #00000000;
}
.escapeBtns {
    grid-area: clearExit;
    justify-self: flex-end;
    display: flex;
    height: 100%;
}
#preheader button {
    padding: 5px 10px;
    width: fit-content;
    min-width: 100px;
    height: 100%;
    max-width: fit-content;
    background-color: var(--coral);
    outline: none;
    border: none;
}

/* ! ********** SMALL screen only ************* */
@media screen and (max-width: 39.9375em) {
    #preheader {
        display: grid;
        grid-template-rows: 0.75fr 0.5fr;
        grid-template-columns: auto auto auto;
        grid-template-areas: "donate clearExit clearExit"
        "helpText helpText helpText";
    }
}



/* ******************** Colour Settings ******************** */
.has-pink-color {
    color: var(--pink);
}

.has-pink-background-color {
    background-color: var(--pink);
}
.has-lightpink-color {
    color: var(--light-pink);
}

.has-lightpink-background-color {
    background-color: var(--light-pink);
}

.has-cream-color {
    color: var(--cream);
}

.has-cream-background-color {
    background-color: var(--cream);
}

.has-lightblue-color {
    color: var(--light-blue);
}

.has-lightblue-background-color {
    background-color: var(--light-blue);
}
.has-blue-color {
    color: var(--blue);
}

.has-blue-background-color {
    background-color: var(--blue);
}

.has-white-color {
    color: #ffffff;
}

.has-white-background-color {
    background-color: #ffffff;
}

.has-black-color {
    color: #000000;
}

.has-black-background-color {
    background-color: #000000;
}