
:root{
    --pink: #FF6B89;
    --cream: #FFFAE9;
    --light-blue: #F3F9FF;
}
a{
    color: black;
}
.entry-content{
    width: 100vw;
    overflow: auto;
}
#nav{
    display: flex;
    justify-content: space-between;
    color: black;
}
nav{
    align-self: center;
}
#primary-menu{
    display: flex;
    justify-content: space-evenly;
}

.decoBtn{
    background-color: var(--pink);
    border: white ridge 1px;
    padding: 5px;
    text-decoration: none;
    color: white;
    
}
.decoBtn:hover{
    color: pink;
}
#upperInfo{
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100vw;
    background-color: var(--cream);
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin-bottom: 5px;
}
#upperInfo h6{
    font-size: 14px;
}
.plainBtn{
    color: black;
    margin-right: 5px;
}
.homeCards{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
}
.homeCards .wp-block-column{
    background-color: var(--light-blue);
    box-shadow:  2px 2px 20px #E5E5E4;
    border-radius: 10px;
    height: 30rem;
}
.wp-block-button{
    background-color: var(--pink);
    border: 1px solid white;
    border-radius: 10px;
}